$bgColor: #ebebeb;
$mainColor: #db791d;
$mainColorHover: #f18622;
$defaultHoverColor: #dddddd;
$textColor: #202020;
$linkColor: #303030;
$errorColor: #ca2c2c;
$successColor: #27c449;

$transitionTime: 0.1s;
